<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCwncirT_xvuVRekm-s0BopXLGsOPAxH4</string>
	<key>GCM_SENDER_ID</key>
	<string>1036400538579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brilworks.orderNest</string>
	<key>PROJECT_ID</key>
	<string>ordernest-8da3a</string>
	<key>STORAGE_BUCKET</key>
	<string>ordernest-8da3a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036400538579:ios:9de8169c3cd7a798fe7526</string>
</dict>
</plist>